body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section {
    display: flex;
    width: 250px;
    height: auto;
    list-style: none;
    justify-content: center;
    align-items: center;
}

header nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;
}

nav .nav-right-section .menu-icon {
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

nav .nav-right-section .menu-photo img {
    border-radius: 100%;
}

main {
    margin-top: 150px;
    text-align: center;
}

/* Diseno logo */

main .main-logo {
    width: 300px;
    height: 92px;
    margin: 0 auto;
    margin-bottom: 90px;
}

main .main-logo img {
    width: 300px;
    height: 200px;
}

/* Diseno input */

main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 28px;
}

main .main-input .main-input-container {
    width: 530px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input {
    width: 450px;
    height: 30px;
    border: none;
    outline: none;
}

main .main-input .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

main .main-input .search-icon {
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-right: 20px;
    margin-left: 20px;
    opacity: .40;
}

main .main-input .micro-icon {
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

main .main-input .google-lens {
    background-image: url('https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-06-512.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 28px;
    margin-right: 10px;
}

main .main-button {
    width: 530px;
    margin: 0 auto;
}

main .main-button div {
    display: inline-block;
    margin-right: 1%;
}

main .main-button button {
    height: 36px;
    width: 170px;
    background-color: #f2f2f2;
    border: none;
    font-size: 14px;
    color: #5f6368;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
}

main .main-button button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
    background-color: #f8f8f8;
}

main .main-credits {
    margin: 0 auto;
    margin-top: 30px;
}

/* footer */

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}



footer section {
    display: flex;
    width: 100%;
    height: 50px;
}

footer section ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer section .footer-left {
    width: 100%;
    justify-content: left;
    margin-left: 40px;
    margin-top: 15px;
}

footer section .footer-right {
    justify-content: end;
    margin-left: 100px;
    margin-top: 15px;
}

section ul li {
    display: inline;
    margin-right: 20px;
} 

section ul li a {
    font-size: 14px;
    color: #bdc1c6;
} 